
# Project Ignores Files

# Maven
.mvn
*.classpath
*.project
*.settings
/bin/*
/target/*

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# JetBrains IDEs
.idea/
*.iml

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Extra Folders
/unused
**/.DS_Store
